<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>School Student Data</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead >
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date Of Birth</th>
          <th>Address</th>
          <th>Date Of Addmission</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of student | async">
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.dob}}</td>
          <td>{{student.address}}</td>
          <td>{{student.dateOfAdmission}}</td>
          <td>
            <button (click)="updateStudent(student.studentId)" class="btn btn-info">Update</button>
            <button (click)="deleteStudent(student.studentId)" class="btn btn-danger"
              style="margin-left: 5px ;">Delete</button>
            <button (click)="studentDetails(student.studentId)" class="btn btn-info"
              style="margin-left: 5px ;">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>