<h2 style="font-size: 50; color: blueviolet; text-align: center; padding-bottom: 10%;">View Teacher  details</h2>
<div>
    <div>
        <label> <b> FirstName :   </b></label> {{teacher.firstName}}
    </div>
    <div>
        <label> <b>LastName :   </b></label> {{teacher.lastName}}
    </div>
    <div>
        <label> <b> User Role :    </b></label> {{teacher.userRole}}
    </div>
    <div>
        <label> <b>Teacher  Date Of Birth : </b></label> {{teacher.dob}}
    </div>
    <div>
        <label> <b>Teacher  Date Of Joining : </b></label>{{teacher.dateOfJoining}} 
    </div>
    <div>
        <label> <b>Teacher  Email Id : </b></label> {{teacher.email}}
    </div>
    <div>
        <label> <b>Teacher  Residential Address : </b></label> {{teacher.address}}
    </div>
</div>