<h2 style="font-size: 50; color: blueviolet; text-align: center; padding-bottom: 10%;">View Student details</h2>
<div>
    <div>
        <label> <b> FirstName :   </b></label> {{student.firstName}}
    </div>
    <div>
        <label> <b>LastName :   </b></label> {{student.lastName}}
    </div>
    <div>
        <label> <b> User Role :    </b></label> {{student.userRole}}
    </div>
    <div>
        <label> <b>Student Date Of Birth: </b></label> {{student.dob}}
    </div>
    <div>
        <label> <b>Student Date Of Admission: </b></label> {{student.dateOfAdmission}}
    </div>
    <div>
        <label> <b>Student Email Id : </b></label> {{student.email}}
    </div>
    <div>
        <label> <b>Student Residential Address : </b></label> {{student.address}}
    </div>
</div>